<script>
	$(function() {
    	$( "#accordion" ).accordion();
	});
</script>
<div id="accordion">
	{% if seguridad == "digitador" or seguridad == "administrador" %}
  	<h2>Matr&iacute;cula</h2>
  	<div>
		<ul> 
			<li>
				<a href="matricula-registrar" >Registrar</a>
			</li> 
			{% if seguridad == "administrador" %}
			<li>
				<a href="matricula-modificar-listar" >Modificar</a>
			</li> 
			{% endif %}
		</ul> 
  	</div>
  	{% endif %}
  	{% if seguridad == "visualizador" or seguridad == "administrador" %}
  	<h2>Reportes</h2>
  	<div>
  		<ul> 
			<li>
				<a href="matricula-seguimiento" >Seguimiento</a>
			</li>
		</ul> 
  	</div>
  	{% endif %}
</div>
<a href="logout" >Salir</a>